---
import Layout from '../layouts/Layout.astro';
import Commit from "../components/Commit.svelte";

const response = await fetch(`https://api.github.com/repos/cgoat24/gauc0601/commits`);
const commits = await response.json();
---
<Layout>
    <div class="flex w-full flex-col">
        <div class="divider divider-start font-bold">Infos</div>
        <ul>
            <li>CIP: GAUC0601</li>
            <li>Nom: Chad Gauthier</li>
            <li>Code source: <a href="https://github.com/CGOAT24/gauc0601" target="_blank">https://github.com/CGOAT24/gauc0601</a></li>
        </ul>
        <div class="divider divider-start font-bold">Articles</div>
        <article class="mx-3">
            <b>Découvrez tout sur rdvptrwjeiptwpes</b><br>
            Le rdvptrwjeiptwpes est un concept innovant qui transforme l'expérience des utilisateurs en ligne. Que vous soyez un professionnel à la recherche d'une solution efficace ou un particulier curieux d'en apprendre plus, le rdvptrwjeiptwpes offre des avantages uniques.<br><br>
            <b>Pourquoi choisir rdvptrwjeiptwpes ?</b>
            <ul class="list-inside list-disc">
                <li>Performance optimale : Grâce à rdvptrwjeiptwpes, bénéficiez d’une approche optimisée pour vos besoins.</li>
                <li>Fiabilité et sécurité : Profitez d'une expérience sans faille grâce à des technologies avancées.</li>
                <li>Adaptabilité : Le rdvptrwjeiptwpes s’intègre parfaitement à différents environnements et usages.</li>
            </ul><br>
            <b>Comment profiter pleinement de rdvptrwjeiptwpes ?</b><br>

            Pour tirer le meilleur parti du rdvptrwjeiptwpes, il est essentiel de comprendre son fonctionnement et de l'appliquer de manière stratégique. Que ce soit pour l’amélioration de votre productivité, l’optimisation de vos performances ou encore l’innovation dans votre domaine, le rdvptrwjeiptwpes se positionne comme un incontournable.
            Conclusion

            Le rdvptrwjeiptwpes représente une avancée majeure. N’attendez plus pour découvrir ses nombreux atouts et en tirer profit dès maintenant !
        </article>
        <div class="divider divider-start font-bold">Changements</div>
        <ul class="timeline timeline-vertical">
            {commits.map(commit => <Commit sha={commit.sha} message={commit.commit.message} date={commit.commit.author.date} url={commit.html_url}/>)}
        </ul>
    </div>
</Layout>
