---
import Layout from '../layouts/Layout.astro';
import Commit from "../components/Commit.svelte";

const response = await fetch(`https://api.github.com/repos/cgoat24/gauc0601/commits`);
const commits = await response.json();
---
<Layout>
    <div class="flex w-full flex-col">
        <div class="divider divider-start font-bold">Infos</div>
        <ul>
            <li>CIP: GAUC0601</li>
            <li>Nom: Chad Gauthier</li>
            <li>Code source: <a href="https://github.com/CGOAT24/gauc0601" target="_blank">https://github.com/CGOAT24/gauc0601</a></li>
        </ul>
        <div class="divider divider-start font-bold">Changements</div>
        <ul class="timeline timeline-vertical">
            {commits.map(commit => <Commit sha={commit.sha} message={commit.commit.message} date={commit.commit.author.date} url={commit.html_url}/>)}
        </ul>
    </div>
</Layout>
