---
import { SEO } from "astro-seo";
---
<!doctype html>
<html lang="fr">
	<head>
		<SEO
			title="rdvptrwjeiptwpes"
			extend={{
				meta: [{
					name: "google-site-verification",
					content: "F7RXUMxWKG0Mn9duVPIWpQAD1mRurNuVvBamWm2YqFA"
				}]
			}}
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="m-3 w-screen h-screen overflow-x-hidden">
		<h1 class="flex justify-center">rdvptrwjeiptwpes</h1>
		<slot />
	</body>
</html>
