---
import { SEO } from "astro-seo";
---
<!doctype html>
<html lang="fr">
	<head>
		<SEO
			title="rdvptrwjeiptwpes"
			extend={{
				meta: [{
					name: "google-site-verification",
					content: "F7RXUMxWKG0Mn9duVPIWpQAD1mRurNuVvBamWm2YqFA"
				}]
			}}
		/>
        <meta name="description" content="page web développé dans le cadre du cours IGE511 de l'université de Sherbrooke">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/gauc0601/favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="m-3 w-screen h-screen overflow-x-hidden">
		<h1 class="flex justify-center">rdvptrwjeiptwpes</h1>
		<slot />
	</body>
</html>
